 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
   <script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(35.842160, 50.953905);
        var mapOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
         
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
         
        var contentString = '<div style="direction: rtl; text-align: right;font-family: Tahoma;">' +
                                    '<h4>Marvdasht , Takhte Jamshid</h4>' +
                                     '<h5>Takhte Jamshid</h5>' +
                                     '</div>';
         
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
         
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Takhte Jamshid'
        });
         
        infowindow.open(map, marker);
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }
   </script>

<body onload="initialize()">
   <div style="width:100%;" id="map-canvas"></div>