@media only screen and (max-width:1250px){
	@import url('https://cdn.fontcdn.ir/Font/Persian/Lotus/Lotus.css');
.mylist{
	font-family: Lotus;
	text-shadow: initial;
	font-size: 20px;
}

	.inwhy {
    font-size: 1.5rem !important;
    text-align: right !important;
}
.whysaniaran{
	font-size: 15px !important;
}
.sshaico {
    font-size: 5rem;
    float: right;
    margin-left: 2rem;
    color: white;
}

	.centergiftamas{
		width: 100% !important;
	}
	.desc{
	margin: 0 auto;
	text-align: justify;
	padding: 30px;
}
.h-m{
	display: none !important;
}
.container{
	
}
.faseleyemabeyynehorofenglisivafaarsiyebrandha{
	padding: 10px;
	margin-left: 5% !important;
	margin-right: 5% !important;
	text-align: center;
}

	.tla0{
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top:10px ;
		margin-bottom: 10px;
		width:30% !important;
	}
	.tretre5{
		color: rgb(255, 255, 255) !important;
		font-family: tah;
		text-shadow:rgb(0, 0, 0) 2px 2px 2px;
	}
	.tretre3{
		text-align: center;
		padding-right: 10px;
		padding-left: 10px;
		color: white;
		background-image: url(img/987654321.png);
		line-height: 25px;
		font: bolder;
	}
	.tretre2{
		display: none;
	}
	.tss{
	    width: 100%;
	}
	#intro{
		height: 320px !important;
	}
    /*منوی کلک*/
    .accordion {
	    background-color: #246ED7;
	    color: white;
	    cursor: pointer;
	    padding: 18px;
    	width: 100%;
	    border: none;
	    text-align: right;
	    outline: none;
	    font-size: 23px;
	    transition: 0.4s;
	}

	.panel a{
		/* background-color: blue; */
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: right;
		outline: none;
		font-size: 23px;
		transition: 0.4s;
		margin: 20px;
		text-decoration: none;
	}
	.panel ul li{
		list-style: none;
	}
	.panel ul li:hover{
		background-color: #246ED7 !important;
	}
	.active, .accordion:hover {
	    background-color: #246ED7; 
	}
	
	.panel {
		/* direction: rtl; */
	/* padding: 0 18px; */
	display: none;
	overflow: hidden;
	text-align: right;
	line-height: 20px !important;
	background-color: #246ED7;
	}
	.por{
		width: 100% !important;
		background-color: #246ED7 !important;
	}
	.cam{
		width: 90% !important;
		background-color: #000000 !important;
	}
	.pao{
		margin: 0px !important;
	line-height: 20px !important;
	text-align: right;
	line-height: 50px !important;
	background-color: #246ED7;
	}











	.al{
		width:90%
		
	}
	.al{
		margin: 4% !important;
		border: white solid 5px !important ;
		border-radius: 20px !important;
	}
   .bodysafheyetamirathabakhshshotor{
		border: black solid 10px;

	}
   .preformatnekhodkhaste{
		font-size: 16px !important;
		line-height: 30px !important;
		margin-left: 5px !important;
		margin-right: 5px !important;
		background-color: #0d1055;
		color: rgb(255, 255, 255);
		padding:30px  10px !important;
		border: white solid 5px;
		border-radius: 20px;
   }
   .preformatnekhodkhastetitr{
	font-family: nasim !important;
	font-size: 14px !important;
	padding: 10px; 
	text-align: center;
	font: bold;
	text-shadow: #A3A3A3 3px 3px 3px;

}
	.nabash{
		display: none;
	}
	.brandkhodravaredkonid{
		text-align: center;
		font-size: 30px;
		color: #77C41E;
		font:bold;
		font-family: tahoma;
		padding: 10px;
		background-color:#246ED7 ;
		text-shadow: rgb(136, 119, 119) 2px 2px 8px;
	}
	.moradam{
	 font-size: 20px;
	 text-align: center; 
	 font-family: dir;
	 font: bold; 
	 font-size: 30px; 
	 color: #c20606; 
	 text-shadow:gray 7 4px 3px 2px;
	}
	.cob{
		border-color:rgb(0, 0, 255);
		margin: 0px;
	}
	        .bbbbb{
				margin-left: 70%;
				left: 0;
			}

	      
			/* #menu is the original menu */
			#menu {
				display:none;
			}
			.navbar{
				display:none;
			}
			
			.slicknav_menu {
				display:block;
			}
			.mordad{
				display: none;
			}


			
			/* ul li ul li a{
		
			} */


	.logo{
		direction: rtl;
		text-align: center;
		margin: 0;
		top: 0px !important;
		border-bottom: #246ed7 solid 4px;
		}

	
.all{

	width: 100%;

	
	
}

.titra{
	color: rgb(0, 0, 255);
	text-align: center;
	font: bold;
	font-family: mir;
	border: #0d09ff solid  2px;
    border-radius: 10px;
	}
	
	
	.titraa{
	text-align: center;   
	font-family: nas;
	font-size: 25px;
	color: white;

}
.shoare{
	color: #fff;
		text-align: center;
		font-family: mir;
		font-size: 30px;
		margin-top: 0;
		padding-top: 0;
		height: auto;
  }



	.dorost{
		position: fixed;
		box-sizing: border-box;
		box-sizing: border-box;
		background: none;
		top: 0px;
		padding-top: 500px;
		text-align: left !important;
		margin-right: 70% !important;
		}
		.right{
			background-color: white;
			/*float: right;*/
			width: 100%;
			border-bottom-color: #246ED7;
			border-bottom-style: solid;
			border-top: #246ED7 solid 3px;
		}
		.left{
			text-align: center;
			width: 100% !important;
			/* float: left !important; */
			border-bottom-color: #246ED7;
			border-bottom-style: solid;
			background-color: #fff !important;
		}
		.left h2{
			font-family: tah;
			font-size: 50px !important;
		}
		.left ul{
			list-style: none;
		}
		.left ul a{
			text-decoration: none;
			color: black;
			padding: 10px;
			font-family: tah;
		}
		.left ul a li{
			font-family: tah;
			padding-left: 40px;
			font-size: 18px !important;
		}
		.farvardin{
			display: none;
		}
		.klklkloijkl{
			width: 300px;
		}
		.axavals{
			margin-right: 10% ; 
			border: #ffffff  solid 10px; 
			border-radius: 35px;
			width:80%
		}
		.titravals{
			text-align: center;
			color: black;
			font: bold; 
			font-size: 14px; 
			padding: 6px;
			margin-right: 20px;
			margin-left: 20px;  
			border: gold solid 7px; 
			border-radius: 15px; 
		}
		.titrdos{
			text-shadow: darkgray 2px 2px 5px ; 
			text-align-last: center; 
			color: #ff0015; 
			font-size: 12px;
			margin-top: 4px; 
			margin-bottom: 4px;
		}
		.pavals{
			margin: 10px; 
			margin-top: 0px !important; 
			margin-bottom: 0px !important; 
			margin-left: 30px !important; 
			padding-bottom:0px;
			font-size: 10px; 
			color: #000000; 
			width: 94%; 
			line-height: 30px;  
		}
		.sabtsefaresh{
		    width: 100% !important;
		}
		.ssh{
			margin-right:10% !important;
		}
		.axssh{
			margin-right: 16%;
		}
		.ppps{
			text-align: center; 
			color: rgb(245, 12, 12); 
			font: bold; 
			font-size: 12px;
		}
		.dfooter{
            display: none;
		}
		.dmfooter{
            width: 100% !important;
		}

		.axaxaxavalpage{
			border: white solid 10px;
			border-radius: 20px;
			margin-bottom: 25px;
			margin-top: 25px;
			width: 100% !important;
			margin-right: 0%;
			margin-left: 0% !important;
			margin-left:0% !important;
			margin-right: 0% !important; 
			padding-left: 0% !important;
		    padding-right: 0% !important;
		}
		.tlam{
			padding-top: 5px;
			padding-bottom: 5px;
			/* margin-right: 1% !important;
			margin-left: 1% !important; */
			border: black solid 2px;
			border-radius: 4px;
			box-shadow: black 2px 2px 5px;
			margin-top:10px ;
			margin-bottom: 10px;
			width:30% !important;

			
		}			
		.tla{
          display: none;
			}
			.tlarm{
				padding-top: 5px;
				padding-bottom: 5px;
				margin-top:10px ;
				margin-bottom: 10px;
				padding-left: 8%;
				
			}			
			.tlar{
				display: none;
				}
				.slideshow-container{
					width: 100% !important;
				}
				.mySlides{
					width: 100% !important;
					box-shadow: black 2px 2px 2px;
					padding: 0px !important;
					margin: 0px !important;
				}
				.baz404{
					position: absolute; 
					top: 0px;
					margin-top: 63%;
					margin-left: 33%;
					width: 35%;
				}
				.l404{
					position: absolute; 
					top: 0px;
					width:100%;
				}
				.ban{
					display: none;
				}
				.abcddcba{
					font-size: 17px !important;
				}
				.dcbaabcd{
					font-size: 18px !important;
				}
				/* ثبت سفارش  */
.aceeca{
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
}
  
.aceeca, .aceeca::before, .aceeca::after {
	box-sizing: border-box;
  }
  
  
  @keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
  }
  .rainbow {
	position: relative;
	z-index: 0;
	width: 270px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
	padding-top: 8%;
	padding-bottom: 8%;
  }
  .rainbow::before {
	content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-color: #399953;
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
	animation: rotate 4s linear infinite;
  }
  .rainbow::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 6px;
	top: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: white;
	border-radius: 5px;
  }
  .material-icons{
	position: fixed;
	box-sizing: border-box;
	/* top: 360px; */
	left: 0;
	box-sizing: border-box;
	background: none;
	padding-top: 100px !important;
	width: 60px !important;
	height: 150px;
	text-align: left !important;
	bottom: 0;
	margin-bottom: 12px;
	margin-left: 5px;
	}
	.saa1{
	display: none;
		
	}
		
	
	.dfdf{
		background-color: #A3A3A3;
		color: white;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 1px;

	}
	.dfdf2{
		        font-size: 20px !important;
	}
}

/* Lorem ipsum dolor sit amet consectetur
adipisicing elit. Laborum nihil aspernatur u
nde hic quibusdam totam accusantium facere, magnam 
tempore non. Praesentium, perferendis. Nostrum dist
inctio repellendus ipsam sint voluptatem saepe volu
ptates totam blanditiis ullam laborum. Fugit repell
endus quibusdam eum dolores sint distinctio id ulla
m reiciendis cupiditate assumenda omnis impedit obc
aecati, eligendi aut debitis aliquid sapiente provi
dent facere sunt officia in. Suscipit voluptatem ab
dolore vitae dolorum expedita quis mollitia fugiat
Rem voluptatum repellendus suscipit sint nam, ali
quam excepturi consequuntur, et ex, assumenda dic
ta amet quis quibusdam voluptates optio possimus vi
tae molestiae ev
eniet? Aspernatur, nemo sapiente de
serunt fugiat, repudiandae praesentium unde non vol
uptatem a sunt accusamus ipsa exercitationem! Odio 
sapiente tempore maiores obcaecati quisquam earum a
liquam impedit incidunt neque hic sunt, suscipit vo
luptates eaque quaerat modi numquam! Earum, perspic
iatis accusantium. Aspernatur illo dignissimos libe
ro commodi nemo cupiditate voluptatibus reiciendis 
ut aut nisi? Cumque ex maiores reprehenderit harum 
impedit veritatis, nam tempore ut minus quibusdam, 
nobis deleniti sit ab placeat molestiae voluptates 
fuga, quisquam dolore voluptas. Quam quos, fugiat i
llum deleniti dolorem quaerat aperiam ad in cupidit
ate minus eveniet sint adipisci distinctio aliquam 
magni, maxime saepe. Repellat quam minus deserunt p
rovident deleniti porro accusamus, a cupiditate rer
um perferendis cumque ex nemo? Ipsam, corporis. */

@media only screen and (min-width:1250px){
	@import url('https://cdn.fontcdn.ir/Font/Persian/Lotus/Lotus.css');
.mylist{
	font-family: Lotus;
	text-shadow: initial;
	font-size: 40px;
}

	.h-c{
		display: none !important;
	}
.tretre4{
	color: white !important;
	font-family: tah;
	text-shadow:rgb(0, 0, 0) 2px 2px 2px;
}
.tretre2{
	color: white;
	direction: rtl;
	text-align: right;
	font-size: 22px;
	font-family: ira;
	font: bolder;
	line-height: 35px;
	padding-right: 15px;
}
.tretre{
	background-image: url(img/123456789.png);
}
.tretre3{
	display: none;
}
.klkl{
	background-color: white;
}
.tyy{
	color: white;
    stroke: white 5px !important;
	
}
.dfdf{
	display: none;
}
.tss{
	width: 40%;
	margin-left: 30% !important;
	border: white 5px !important;
	border-radius: 20px;
}	
/* ثبت سفارش  */
.name{
width: 50px !important;
padding-left: 50px !important; 
 }
.aceeca{
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	text-align: center !important;
	padding-left: 40% !important;
}
  
.aceeca, .aceeca::before, .aceeca::after {
	box-sizing: border-box;
  }
  

  @keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
  }
  .rainbow {
	position: relative;
	z-index: 0;
	width: 270px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
	padding-top: 8%;
	padding-bottom: 8%;
  }
  .rainbow::before {
	content: '';
	position: absolute;
	z-index: -2;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background-color: #399953;
	background-repeat: no-repeat;
	background-size: 50% 50%, 50% 50%;
	background-position: 0 0, 100% 0, 100% 100%, 0 100%;
	background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
	animation: rotate 4s linear infinite;
  }
  .rainbow::after {
	content: '';
	position: absolute;
	z-index: -1;
	left: 6px;
	top: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: white;
	border-radius: 5px;
  }
/* پایان ثبت سفارش    */
.faselemenupc{
	margin-left: 270px !important;
	border: white solid 2px !important; 
	text-align: center; 
	padding-right: 2%;
}
.nab{
	display: none;
}

	.accordion{
		display: none;
	}
	.panel{
		display: none;
	}
	.nabash{
		display: none;
	}
	.pao{
		display: none;
	}
	.por{
		display: none;
	}
	.cam{
		display: none;
	}
	.baz404{
		position: absolute; 
		top: 60%;
		left: 45%;
		width: 15%;
	}
	.l404{
		padding-left: 30%; 
		position: absolute; 
		top: 0px;
		width:45%;
	}
	.farvardin{
		width: 25% !important; 
		margin-right: 25% !important;
		padding: 15px;
	}
	.axaxaxavalpage{
		border: white solid 10px;
		border-radius: 40px;
		margin-bottom: 50px;
		text-align: center;
	}
    .dmfooter{
		display: none;
	}
	.dfooter{

		width: 100%;
		padding-right: 0px;
		margin-right: 0px;
	}
	.ssh{
		text-align: center !important;
	}
	.sabtsefaresh{
		text-align: center;
	}
	.ppps{
		text-align: center; 
		color: rgb(245, 12, 12); 
		font: bold; 
		font-size: 22px;
	}
	.titravals{
		text-align: center;
		color: black;
		font: bold; 
		font-size: 26px; 
		padding: 30px;
		margin-right: 100px;
		margin-left: 100px;  
		border: gold solid 7px; 
		border-radius: 15px; 
	}
	.axavals{
		margin-right: 10% ; 
		border: #ffffff  solid 10px; 
		border-radius: 35px;
		width:80%
	}
	.titrdos{
		text-shadow: darkgray 2px 2px 5px ; 
		text-align-last: center; 
		color: #ff0015; 
		font-size: 25px;
		margin-top: 20px; 
		margin-bottom: 20px;
	}
	.pavals{
		margin: 30px; 
		margin-top: 0px !important; 
		margin-bottom: 0px !important; 
		margin-left: 30px !important; 
		padding-bottom:0px;
		font-size: 17px; 
		color: #000000; 
		width: 94%; 
		padding-right: 1%; 
		line-height: 30px;  
	}

	.vasatssh{
		text-align: center;
	}

	.al{
		width:90%
		
	}
	.al{
		margin: 6% !important;
		border: white solid 5px !important ;
		border-radius: 20px !important;
	}

	.preformatnekhodkhaste{
		font-size: 16px !important;
		line-height: 30px !important;
		margin-left: 10px !important;
		margin-right: 10px !important;
		background-color: #0d1055;
		border-radius: 20px !important;
		color: rgb(255, 255, 255);
		padding:40px  10px !important;
   }
   .preformatnekhodkhastetitr{
		font-family: nasim !important;
		font-size: 30px !important;
		padding: 25px; 
		text-align: center;
		font: bolder;
		text-shadow: #77C41E 4px 4px 4px;

   
	}
	.khordad{
		display: none;
	}
	.tir{
		display: none;
	}
	.right{
		background-color: white;
		float: right;
		width: 70%;
		border-left-color: #246ED7;
		border-left-style: solid;
		height: 10000px !important;
		border-bottom: #246ED7 solid 4px;
		border-top: #246ED7 solid 3px;
		/* overflow-x: auto; */
	}
	
	.left{
		text-align: center;
		width: 30%;
		float: left;
		border-right-color: #246ED7;
		border-right-style: solid;
		background-color: #fff;
		height: 10000px !important;
		border-bottom: #246ED7 solid 4px;
	}
	.left h2{
		font-family: tah;
		font-size: 50px;
	}
	.left ul{
		list-style: none;
	}
	.left ul a{
		text-decoration: none;
		color: black;
		padding: 10px;
		font-family: tah;
		font: bold;
		font-size: 20px;
	}
	.left ul a li{
		font-family: tah;
		padding-left: 40px;
	}
	.material-icons{
	position: fixed;
	box-sizing: border-box;
	/* top: 55%; */
	left: 1%;
	background: none;
	padding-top: 100px !important;
	width: 100px !important;
	height: 180px !important;
	text-align: left !important;
	bottom: 0;
	margin-bottom: 7px;
	}
	/* .material-icons:hover{
    width: 180px !important;
	height: 240px !important;
	} */
	#menu{
    display: none;
	}
	.shoare{
		color: #fff;
		text-align: center;
		font-family: mir;
		font-size: 50px;
		margin-top: 0;
		padding-top: 0;
		height: auto;
	}

	.all{

		border: 7px white;
		border-radius: 20px;
		width: 40%;
		align-items:center;	
		text-align: center;	
		padding-right: 30%;
		}
		.logo{
			direction: rtl;

			
			}
			
			
			
			.titra{
			color: #246ED7;
			text-align: center;
			font: bold;
			}
			
			
			.titraa{
			text-align: center;   
			font-family: nas;
			font:bold;
			padding-top: 0px;
			color: white;
			font-size: 45px !important;
			}
			
			
			
			
			
			.cob{
				border-color:#246ED7;
				margin: 0px;
			}
			
			
			.slideshow-container{
				width: 100% !important;
			}
			
			.ta{
			padding-bottom: 0px;color:#fff;
			padding-right: 9px;
			padding-left: 9px;
			}
			.tla{
				padding-top: 1px;
				padding-bottom: 1px;
				border: black solid 2px;
				border-radius: 4px;
				box-shadow: black 4px 4px 10px;
				margin-top:15px ;
				margin-bottom: 15px;
				width: 19%;
				margin-right: 2% !important;
			}			
			.tlam{
                    display: none;
				}
				.tlar{
					padding-top: 5px;
					padding-bottom: 5px;
					margin-left: 1% !important;
					margin-right: 12% !important;
					padding-left: 22%;
				}			
				.tlarm{
	                display: none;
					}
			.brandkhodravaredkonid{
				text-align: center;
				font-size: 30px;
				color: #77C41E;
				font:bold;
				font-family: tahoma;
				box-shadow: #246ED7 3px   3px   5px;
				padding: 10px;
				background-color:#246ED7 ;
				text-shadow: rgb(136, 119, 119) 2px 2px 8px;
			}
			
			.monazam{
			width: 100%;
			}
			

			
			
			
			.alb{
				text-align: center;
			border: 3px white;
			border-style: solid;
			border-radius: 15px;
			width: 50%;
			margin-left: 2%;
			}
			
			/* Fading animation */
			.fade {
				-webkit-animation-name: fade;
				-webkit-animation-duration: 4000000000000s;
				animation-name: fade;
				animation-duration: 1000s;
			  }
			

			
			
		
			.a{
			display: none;
			}  
			.div{
				box-shadow: rgb(22, 22, 22)  2px  2px 3px ;
				font-family: text;
				margin: 0 auto;
				/*width: 265px;
				height: 76px;*/
				width: 60%;
				height: 60px;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
				text-align: center;
				color: #000;
				outline: none;
			  }
			  .div:hover{
				background-color:rgb(255, 166, 0) ;
				animation-name: fade;
				color: #ffffff;
			  }
			  .div p {
				margin-top: 30px;
				text-align: center;
			  
			  }
			  .div:hover{ 
				-moz-transition: all 0.5s ease-in-out;
				-webkit-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				transform: rotate(360deg);
			}
			
			
			
			
			.div1{
				box-shadow: rgb(22, 22, 22)  2px  2px 3px ;
				font-family: text;
				margin: 0 auto;
				/*width: 265px;
				height: 76px;*/
				width: 60%;
				height: 60px;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
				text-align: center;
				color: #000;
				outline: none;
			  }
			  .div1:hover{
				background-color:rgb(0, 255, 13) ;
				animation-name: fade;
				color: #ffffff;
			  }
			  .div1 p {
				margin-top: 30px;
				text-align: center;
			  
			  }
			  .div1:hover{ 
				-moz-transition: all 0.5s ease-in-out;
				-webkit-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				-moz-transform: rotate(360deg);
				-webkit-transform: rotate(360deg);
				-o-transform: rotate(360deg);
				-ms-transform: rotate(360deg);
				transform: rotate(360deg);
			}
			
			
			.tmas-ba-ma-ch{
			margin: 0px;
			
			
			}
			.sidenav {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;
				background-color: #fff;
				overflow-x: hidden;
				transition: 0.5s;
				padding-top: 60px;
				text-align: center;
				border-top: 5px  #246ED7;
				border-bottom: 5px  #246ED7;
				border-style: solid;
				border-color: #246ED7;
				border-radius: 20px ;
				}
				.sidenav a {
				padding: 8px 8px 8px 8px;
				text-decoration: none;
				font-size: 25px;
				color: #246ED7;
				display: block;
				transition: 0.3s;
				/* margin-right: 20px; */
				
				}
				
				.sidenav a:hover{
				color: #fff;
				animation-name: fade;
				background-color: #77b3fc;
				border-color: #000;
				border-style: solid;
				border-radius: 20px;
				}
				@keyframes op{
				  
				}
				
				.sidenav .closebtn {
				position: absolute;
				top: 0;
				right: 0px;
				font-size: 36px;
				margin-left: 50px;
				padding-right: 15px;
				padding-left: 15px;
				padding-top: 5px;
				padding-bottom: 5px;
				}
				
				#main {
				transition: margin-left .5s;
				padding: 16px;
				}
				
				/* @media screen and (max-height: 450px) {
				.sidenav {padding-top: 15px;}
				.sidenav a {font-size: 18px;}
				} */
				
			
			
				.slicknav_menu {
					display:none;
				}
				.mySlides{
					width: 100% !important;
					box-shadow: black 2px 2px 2px;
					padding: 0px !important;
					margin: 0px !important;
					margin: 0% !important;
				}


                .ttt2{
					font-size: 20px;
					margin-bottom: 0px;
					margin-top: 0px;
				}
				.ttt3{
					font-size: 20px;
					margin-bottom: 0px;
					margin-top: 0px;
					padding-top: 0px;
					padding-bottom:0px ;
				}
				.ttt5{
					font-size: 20px;
				}
				.lkslks{
					text-align: right !important;
					margin-left: 10%;
					padding: 0px !important;
					height: 1500px;
				}

	}


















/* img:not([alt]) 
{
    border: 50px red dashed !important;
} */

*{
font-family: amir;





}







	
	

body{
width: 100%;
margin: 0px;
top: 0px;
background-color: #eeeeee;
}

.navbar{
text-align: center !important;	
position: fixed;
display: flex;

}
.ta{
	color: #fff !important;
	text-shadow: #000 2px 2px 5px;
	cursor: pointer;
}

.tlm{
	text-align: center !important;
}
/*ul li ul li{
background-image:-o-linear-gradient(top,#bbbbbb,#0d09ff) !important;
background-image:-moz-linear-gradient(top,#bbbbbb,#0d09ff) !important;
background-image:-webkit-linear-gradient(top,#bbbbbb,#0d09ff) !important;
background-image:-ms-linear-gradient(top,#bbbbbb,#0d09ff) !important;
background-image:linear-gradient(to top,#bbbbbb,#0d09ff) !important;
}*/
.b{
	color: #fff !important;
	border-bottom-color: #000 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
	text-decoration: none !important;
	background-image:-o-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-moz-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-webkit-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-ms-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:linear-gradient(to top,#bbbbbb,#0d09ff) !important;
}
.b:hover{
	
	color: rgb(161, 161, 161) !important;
	border-bottom-color: #000 !important;
	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
	text-decoration: none !important;
	background-image:-o-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-moz-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-webkit-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:-ms-linear-gradient(top,#bbbbbb,#0d09ff) !important;
    background-image:linear-gradient(to top,#bbbbbb,#0d09ff) !important;
}
.ta:hover{
	color: rgb(161, 161, 161) !important;
	text-shadow: #000 2px 2px 5px;
	cursor: pointer;
	border-bottom: #fff solid 2px !important;
}
.ta a:hover{
	color: rgb(161, 161, 161) !important;
	text-shadow: #000 2px 2px 5px;
	cursor: pointer;
}
.d{
	padding-top: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
}

.cccccccccccccccccccccccccc{
	background-color: #246ED7;
}
.hachalaboochoo{
	text-align: center;
	font-family: mir;
	margin: 0 auto;
	align-items: center;
	vertical-align: middle;
}
.hachalaboochoo h2{
	font-family: mir;
	font-size: 100px;
	color: red;
}

.left ul a li{
padding: 10px;
margin-right: 0px;
margin-left: 0px;

}
.left ul a li:hover{

margin-right: 0px;
margin-left: 0px;


}
.left ul{
	margin-right: 0px;
}

.avali{
	width: 50%;
	background-color: green;
	border: #246ED7 solid 4px;
	border-radius: 50%;
	color: white !important;
}
.dovomi{
	width: 50%;
	background-color: white;
	border: #246ED7 solid 4px;
	border-radius: 50%;
	padding-top: 20px;
	font-size: 4px;
}
.sevomi{
	width: 50%;
	background-color: red;
	border-radius: 50%;
	color: white !important;
	border: #246ED7 solid 4px;
}
.mordad{
	background-color: silver;
	width: 100%;
	text-align: center;

}
.mordad tr td h2{
	font-family: tah;
	text-align: center;
	color: rgb(255, 255, 255)
	;
}
.mordad tr td{
	padding-right: 10px;
	width: 100px !important;
	border: #fff solid 4px !important;
	border-radius: 8px !important;
	color: rgb(255, 255, 255) !important;
	background-color: #A3A3A3 !important;
	padding-right: 10px;
}
.mordad tr td p{
	color: rgb(255, 255, 255);
}
.tir{
	background-color: silver;
	width: 100%;
	text-align: justify;
	/*text-align: justify-content;*/
}
.tir tr td h2{
	font-family: tah;
	text-align: center;
	color: white;
}
.tir tr td{
	padding-right: 10px !important;
	border: #fff solid 4px !important;
	border-radius: 8px !important;
	background-color: #A3A3A3 !important;
}
.tir tr td p{
	color: white;
}
.farvardin{
	width: 100%;
	text-align: center;
	/* margin-left:935px; */
}
.farvardin tr td a img{
	 width: 200px;
	 border: #246ED7 solid 4px;
	 border-radius: 8px;
}
.farvardin tr td{

	padding: 30px;
}
.khordad{
	width: 100%;
	text-align: center;
}
.khordad tr td a img{
	width: 200px;
	border: #246ED7 solid 4px;
	border-radius: 8px;
	margin: 20px;
}
.footer{
	padding: 10px;
	width: 100%;
	text-align: center;
	/*height: 50px;*/
	color: #fff;
}
.footer h4 a{
	color: white;
}
.preformatnekhodkhaste{
	line-height: 100px;
	/* width: 1000px !important; */
	direction: rtl !important;
	text-align: center;
	font-size: 55px;
}
.preformatnekhodkhastetitr{
	color: rgb(0, 110, 255);
	font-size: 80px;
}

.bodysafheyetamirathabakhshshotor{
	border: black solid 10px;
	
}
*::selection{
display: none;
}

img:hover{
	cursor: pointer;
}
.mapbarayeashotorhaghabelestefademibashad{
	color: #246ED7;
	font-family: tah;
	text-align: center;
	font-size: 50px;
}



#intro {
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
	position: relative;
  }
  
  @media (max-height: 500px) {
	#intro {
	  height: 150vh;
	}
  }
  
  #intro .carousel, #intro .carousel-inner, #intro .carousel-item, #intro .carousel-item::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
  
  #intro .carousel-item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  #intro .carousel-item::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  #intro .carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 70px;
	left: 50px;
	right: 50px;
  }
  
  #intro .container {
	text-align: center;
  }
  
  #intro h2 {
	color: #fff;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 700;
  }
  
  @media (max-width: 768px) {
	#intro h2 {
	  font-size: 28px;
	}
  }
  
  #intro p {
	width: 80%;
	margin: 0 auto 30px auto;
	color: #fff;
  }
  
  @media (min-width: 1024px) {
	#intro p {
	  width: 60%;
	}
  }
  
  #intro .carousel-fade {
	overflow: hidden;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item {
	transition-property: opacity;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
	opacity: 0;
  }
  
  #intro .carousel-fade .carousel-inner .active,
  #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
  #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
	opacity: 1;
	transition: 0.5s;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item-next,
  #intro .carousel-fade .carousel-inner .carousel-item-prev,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
	left: 0;
	transform: translate3d(0, 0, 0);
  }
  
  #intro .carousel-control-prev, #intro .carousel-control-next {
	width: 10%;
  }
  
  @media (min-width: 1024px) {
	#intro .carousel-control-prev, #intro .carousel-control-next {
	  width: 5%;
	}
  }
  
  #intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
	background: none;
	font-size: 32px;
	line-height: 1;
  }
  
  #intro .carousel-indicators li {
	cursor: pointer;
  }
  
  #intro .btn-get-started {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 32px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	color: #fff;
	background: #246ED7;
  }
  
  #intro .btn-get-started:hover {
	background: #fff;
	color: #246ED7;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
	overflow: hidden;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header h3 {
	font-size: 32px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding-bottom: 15px;
  }
  
  .section-header h3::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-header h3::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #246ED7;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-header p {
	text-align: center;
	padding-bottom: 30px;
	color: #333;
  }
  
  /* Section with background
  --------------------------------*/
  .section-bg {
	background: #f7f7f7;
  }
  body{
	  overflow-x: hidden;
  }


  .mrcode-rotate img {
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.mrcode-rotate img:hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	box-shadow: #246ED7 12px 12px 10px;
}
.mrcode-rotate img {
	-moz-transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
 
.mrcode-rotate img:hover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}




.center{
	width: 50%;
	text-align: center;
	margin-left:14% !important;
}

.lamahadarbiabanmycharidand{
	font-family: tah;
}


.credits{
	font-family: tah;
}
.credits a{
	font-family: tah;
}
.footer{
	background-color: #000 !important;
	bottom: 0 !important;
	border: black 100px !important;
}

.porbazdid{
    text-align: center;
	width: 30%;
	/* float: left; */
    background-color: #fff !important;
	/* height: 5000px; */
	border-bottom: #246ED7 solid 4px;
	border-right: #246ED7 solid 4px;
	border-left: #246ED7 solid 4px;
	margin: 0%;
	padding: 0px;
}
.porbazdid h2{
	padding-top: 10%;
	font-family: tah;
	font-size: 50px;
	color: #246ED7;
	text-shadow: #000000 2px 2px 2px;
	margin: 0%;
}
.porbazdid ul{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
.porbazdid ul a{
	text-decoration: none;
	color: black;
	padding: 10px;
	font-family: tah;
	font: bold;
	font-size: 20px;
	margin: 0%;
}
.porbazdid ul a li{
	border: #000 dashed 2px;
	padding: 10px;
	background-color: #fff;
	font-family: tah;
	/* padding-left: 40px; */
	width: 100%;
	line-height: 60px;
	margin: 0%;
	
}
.porbazdid ul a li:hover{
	background-color: #246ED7;
	color: #77C41E;
	margin: 0%;
}
.ee{
	background-color: #eeeeee;
}
.ttt{
	color: white;
	text-align: right;
	direction: rtl;
	background-color: #246ED7;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
}
.ttt4{
	color:black ;
	text-align: center;
	line-height: 60px;
	direction: rtl;
	justify-content: center;
}




@media only screen and (max-width:1250px){

    .chineshmenu{
        direction: rtl !important;
    }
.preprepre{
	color:#246ED7 !important;
    font-size: 16px !important;
    text-align: center;
    font-family: hek; 

}
.prepreprep{
	color:#246ED7 !important;
    font-size: 14px !important;
    text-align: center;
    font-family: hek;
    margin-left: 7px !important;
    margin-right: 7px !important;
}
.preprepreooo{
    color: #246ED7 !important;
    font-size: 14px !important;
    text-align: center;
    font-family: hek;
    margin-left: 7px !important;
    margin-right: 7px !important;

}

.dis{
    display: none;
}
/*.centergiftamas{
    margin-left: 10%;
    display: inline;
	}
.centergiftamas{
    width: 80%;
}*/
    .sasasa{
        text-align: center;
        color: white;
        background-color:#246ED7 !important;
        border: white 5px solid;
        border-radius: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50% 
    }
    .sasasa{
        margin-left: 25%;
        font-size: 15px;
    } 
    .aaa{
        margin-top: 10px;
        font-size: 20px !important;
        border: none !important;
    }
    .aaa2{
        margin-top: 10px;
        font-size: 25px !important;
        border: none !important;
        color: rgb(0, 0, 0);
        font-family: amir;
        font: bolder;
        text-shadow: rgb(0, 0, 0) 1px 1px 10px;
        text-align: center;
    }
    .gogogogo{
        background-color:#246ED7 ;
    }
    .footerb{
        overflow-x:hidden; 
        height:965px !important;
        width:100% !important; 
		text-align: center;
    }
    .footerc{
        border: black 100px !important;
    }

    .rastchin{
        direction: rtl !important;
    }

}




/* استایل های موبایل در بالا  */




/* Lorem ipsum dolor sit amet consectetur
adipisicing elit. Laborum nihil aspernatur u
nde hic quibusdam totam accusantium facere, magnam 
tempore non. Praesentium, perferendis. Nostrum dist
inctio repellendus ipsam sint voluptatem saepe volu
ptates totam blanditiis ullam laborum. Fugit repell
endus quibusdam eum dolores sint distinctio id ulla
m reiciendis cupiditate assumenda omnis impedit obc
aecati, eligendi aut debitis aliquid sapiente provi
dent facere sunt officia in. Suscipit voluptatem ab
dolore vitae dolorum expedita quis mollitia fugiat
Rem voluptatum repellendus suscipit sint nam, ali
quam excepturi consequuntur, et ex, assumenda dic
ta amet quis quibusdam voluptates optio possimus vi
tae molestiae ev
eniet? Aspernatur, nemo sapiente de
serunt fugiat, repudiandae praesentium unde non vol
uptatem a sunt accusamus ipsa exercitationem! Odio 
sapiente tempore maiores obcaecati quisquam earum a
liquam impedit incidunt neque hic sunt, suscipit vo
luptates eaque quaerat modi numquam! Earum, perspic
iatis accusantium. Aspernatur illo dignissimos libe
ro commodi nemo cupiditate voluptatibus reiciendis 
ut aut nisi? Cumque ex maiores reprehenderit harum 
impedit veritatis, nam tempore ut minus quibusdam, 
nobis deleniti sit ab placeat molestiae voluptates 
fuga, quisquam dolore voluptas. Quam quos, fugiat i
llum deleniti dolorem quaerat aperiam ad in cupidit
ate minus eveniet sint adipisci distinctio aliquam 
magni, maxime saepe. Repellat quam minus deserunt p
rovident deleniti porro accusamus, a cupiditate rer
um perferendis cumque ex nemo? Ipsam, corporis. */



/* استایل های کامپیوتر در زیر  */




@media only screen and (min-width:1250px){
    #header{
        direction: rtl !important;
    }black
    .sabtmenu{
        border: white solid 2px !important;
        text-align: center;
        padding-right: 2% !important;
    }
    .aaa{
        margin-top: 15px;
        font-size: 35px !important;
        border: none !important;
    }
    .aaa2{
        margin-top: 15px;
        font-size: 45px !important;
        border: none !important;
        color: rgb(0, 0, 0);
        font-family: amir;
        font: bolder;
        text-shadow: black 1px 1px 10px;
    }
    .aaa2{
        stroke: black 500000px !important;
        text-align: center;
    }

    .preprepre{
        color: #246ED7 !important;
        font-size: 38px !important;
        text-align: center;
        font-family: hek;
    }
    .prepreprep{
        color: #246ED7 !important;
        font-size: 35px !important;
        text-align: center;
        font-family: amir;
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
    .preprepreooo{
        color: #246ED7 !important;
        font-size: 25px !important;
        text-align: right;
        font-family: hek;
        border:#246ED7 solid 8px  ;
        width: 100%;
        padding: 0px;
        padding-right: 50px;
    }


    .centergiftamas{
        margin-left: 27%;
        width: 46%;
        }
    .sasasa{
        text-align: center;
        color: white;
        background-color:#246ED7 ;
        border: white 5px solid;
        border-radius: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 30%
        
    }
    .sasasa{
        margin-left: 35%;
    }
        .simmotor{
        font-family: amir;
        color:#246ED7 ;
        background-color:#77C41E;
        border: #eeeeee 10px;
        border-radius: 15px;
        font-size:30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .gogogogo{
        background-color:#246ED7 ;
    }
    .footerb{
        overflow-x:hidden; 
        height:965px !important;
		width:100% !important; 
	    scrolling:no;
    }

    .rastchin{
        direction: rtl !important;
	}
	
	.popopopopo{
		color: #0d09ff;
	}

	.whysaniaran01{
		text-align: left;

	}
	.saa0{
		margin-top: 1px;
	}
	
	
	.saa1{
		color: white;
		width: 100%;
		text-align: center;
		border: white 2px;
		font-size: 20px;
		background-color: #A3A3A3;
	}
	.saa2{
		color: white;
		background-color: #A3A3A3;
		width: 100%;
		text-align: left;
		padding:  3px;
		border: white 2px;
		font-size: 17px;
		margin: 0% !important; 
		background-color: #A3A3A3;
	}
	


	
}
/* اتریبیوت های اسلاید شو  */
.ssh1{
    background-image: url(slides/1.png);
}
.ssh2{
    background-image: url(slides/2.png);
}
.ssh3{
    background-image: url(slides/3.png);
}
.ssh4{
    background-image: url(slides/4.png);
}
.ssh5{
    background-image: url(slides/5.png);
}
.ssh6{
    background-image: url(slides/6.png);
}
.ssh7{
    background-image: url(slides/7.png);
}
.ssh8{
    background-image: url(slides/8.png);
}
/* پایان اتریبیوت های اسلاید شو */
.whyss{
    text-align: center !important; 
    padding-top: 30px; padding-bottom :30px ; 
    font-family: dir; 
    font-size: 30px; 
    color: #0d09ff; 
    text-shadow: rgb(136, 119, 119) 2px 2px 8px;
}
.whysaniaran{
    font-family:ira; 
    font-size: 20px;
}
.shbkhrek{
    padding-top: 25px !important;
    padding-bottom: 30px !important; 
    font-family: dir !important;
}
.shtlkh{
    padding-top: 20px; 
    padding-bottom: 20px; 
    font-family: dir; 
    font-size: 40px;
}
.chineshmenu{
    direction: rtl !important;
}
.vasatchin{
    text-align: center !important;
    
}
.sasasa :hover{
    background-color: #77C41E;
}
.markaztamirat{
    padding-top: 30px; padding-bottom :30px ; 
    font-family: dir; 
    font-size: 30px; 
    color: #0d09ff; 
    text-shadow: rgb(136, 119, 119) 2px 2px 8px;
}
.rastchin{
    direction: rtl !important;
}


/*

*{
    font-family: amir !important;
}



*/


.desc{
	margin: 0 auto;
	text-align: justify;
	/*padding: 4px;*/
}
.faseleyemabeyynehorofenglisivafaarsiyebrandha{
	padding: 10px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}
/*.faseledarsho1{*/
	/*margin: 100px;*/
	/*padding: 100px;*/
/*}*/

.inwhy {
    font-size: 2rem;
}
.whysaniaran {
    font-family: ira;
    font-size: 20px;
    /*display: iline;*/
    direction: rtl;
    text-align: right !important;
}
.sshaico {
    font-size: 5rem;
    float: right;
    margin-left: 2rem;
}



@font-face{
    font-family:hek ;
    src: url('fonts/hekayat.ttf');
}
@font-face{
    font-family:noor ;
    src: url('fonts/A\ Noor.ttf');
}
@font-face{
    font-family:amir ;
    src: url('fonts/LMN\ Amir.ttf');
}
@font-face {
	font-family: mir;
	src: url('fonts/Miremad.ttf');
}
@font-face{
	font-family: nas;
	src:url('fonts/Iran Nastaliq 2.0.ttf');
}
@font-face{
	font-family: tah;
	src: url('fonts/tahoma.ttf');
}
@font-face{
	font-family: ira;
	src: url('fonts/Irancell.otf') format(otf);
}
@font-face{
	font-family: dir;
	src: url('fonts/Dirooz.ttf') format(ttf);
}
@font-face{
    font-family:jadid;
    src: url('fonts/BJadidBd.ttf');
}
@font-face{
    font-family:nasim;
    src: url('fonts/BNasimBd.ttf');
}



/**{
	display: none;
}*/