@media only screen and (min-width:1250px){
.SideBar {
    float: left;
    width: 30%;
    background-color: whitesmoke;
    text-align: right;
    left: 0;
    margin-left: 0;
    padding-left: 0;
    border-top: #246ED7 solid 3px;
}

    .SideBar h2 {
        text-align: center;
    }

    .SideBar h3 {
        list-style: none;
        width: 100%;
    }

        .SideBar h3 a {
            direction: rtl;
            display: inline-block;
            font-size: 19px;
            /*padding-right: 100px;*/
            margin-bottom: 4px;
            border-bottom: black solid 2px;
            width: 100%;
            color: black;
            margin-left: 0;
            font-family: ira;
        }

.float {
    width: 100%;
}

.footer {
    background-color: whitesmoke !important;
    border-top: #0482cc solid 2px !important;
}

.blackback {
    background-color: black;
}
}
/* Lorem ipsum dolor sit amet consectetur
adipisicing elit. Laborum nihil aspernatur u
nde hic quibusdam totam accusantium facere, magnam 
tempore non. Praesentium, perferendis. Nostrum dist
inctio repellendus ipsam sint voluptatem saepe volu
ptates totam blanditiis ullam laborum. Fugit repell
endus quibusdam eum dolores sint distinctio id ulla
m reiciendis cupiditate assumenda omnis impedit obc
aecati, eligendi aut debitis aliquid sapiente provi
dent facere sunt officia in. Suscipit voluptatem ab
dolore vitae dolorum expedita quis mollitia fugiat
Rem voluptatum repellendus suscipit sint nam, ali
quam excepturi consequuntur, et ex, assumenda dic
ta amet quis quibusdam voluptates optio possimus vi
tae molestiae ev
eniet? Aspernatur, nemo sapiente de
serunt fugiat, repudiandae praesentium unde non vol
uptatem a sunt accusamus ipsa exercitationem! Odio 
sapiente tempore maiores obcaecati quisquam earum a
liquam impedit incidunt neque hic sunt, suscipit vo
luptates eaque quaerat modi numquam! Earum, perspic
iatis accusantium. Aspernatur illo dignissimos libe
ro commodi nemo cupiditate voluptatibus reiciendis 
ut aut nisi? Cumque ex maiores reprehenderit harum 
impedit veritatis, nam tempore ut minus quibusdam, 
nobis deleniti sit ab placeat molestiae voluptates 
fuga, quisquam dolore voluptas. Quam quos, fugiat i
llum deleniti dolorem quaerat aperiam ad in cupidit
ate minus eveniet sint adipisci distinctio aliquam 
magni, maxime saepe. Repellat quam minus deserunt p
rovident deleniti porro accusamus, a cupiditate rer
um perferendis cumque ex nemo? Ipsam, corporis. */
@media only screen and (max-width:1250px){
    .SideBar {
        width: 100%;
        background-color: whitesmoke;
        text-align: right;
        left: 0;
        margin-left: 0;
        padding-left: 0;
        border-top: #246ED7 solid 3px;
    }
    
        .SideBar h2 {
            text-align: center;
        }
    
        .SideBar h3 {
            list-style: none;
            width: 100%;
        }
    
            .SideBar h3 a {
                direction: rtl;
                display: inline-block;
                font-size: 19px;
                /*padding-right: 100px;*/
                margin-bottom: 4px;
                border-bottom: black solid 2px;
                width: 100%;
                color: black;
                margin-left: 0;
                font-family: tahoma;
            }
    
    .float {
        width: 100%;
    }
    
    .footer {
        background-color: whitesmoke !important;
        border-top: #0482cc solid 2px !important;
    }
    
    .blackback {
        background-color: black;
    }
    }