body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #a9afb5;
	font-family: 'Segoe UI', sans-serif;
	font-size: 18px;
	line-height: 24px;
	direction:rtl;
}



nav {
	margin: 45px auto;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #f1f4f7;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	border-radius: 20px;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: right;
	position: relative;
	font-weight: bold;
}

nav ul li:hover {
	/*background: #a70101;*/
	background: rgb(0, 0, 255); 
    border-radius: 20px;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block;
	padding: 15px 32px;
	color: #4e4e4e;
	text-decoration: none;
}

nav ul ul {
	background: rgb(68, 142, 238); ;
	border-radius: 8px;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 200px;
}
nav ul ul li {
	float: none;
	border: 1px solid rgb(0, 0, 255); 
    border-radius: 8px;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background:none;
}
		
nav ul ul ul {
	/*position: absolute;*/
	right: 100%;
	top:0;
}
		
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 1250px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display: block;
	}
}